<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Climb Gyms Singapore</title>
  </head>
  <body class="d-flex flex-column justify-content-center p-4">
    <h1 class="text-center p-4">Climbing Gyms Singapore</h1>
    <a href="/gyms/new" class="text-center p-4" style="color: #769642"
      >Register a Gym</a
    >
    <img src="/images/rockclimb.png" />
    <p class="text-center">Be part of the popular gym list</p>
    <h3 class="text-center">Popular Gym list</h3>
    <ul class="d-flex flex-column align-items-center p-4">
      <% climbgyms.forEach(gym => { %>
      <li><a href="/gyms/<%= gym._id%>"><%= gym.name %></a></li>
      <% }); %>
    </ul>
  </body>
</html>
